@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

:root {
  --primary-white: #fff;
  --primary-orange: #f9ab00;
  --primary-dark: rgba(255,255,255,0)
}

body {
  font-family: "Lato" sans-serif;
}

/*Navbar*/
.logo {
  width: 4rem;
}

/*Menu Links*/
nav a.nav-link {
  font-size: 1.2rem;
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav >li >a {
  margin-right: 0.5rem;
  margin-left: 1rem;
  margin-bottom: 2.3rem;
  color: var(--primary-white) !important;
  border-top: 0.2rem solid var(--primary-dark);
}

.navbar-brand {
  max-width: 7rem;
  padding: 0 !important;
  height: 6rem;
}

.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus {
  border-top: 0.2rem solid var(--primary-orange);
}

.navbar-nav > li > a:hover {
  border-top: 0.2rem solid var(--primary-orange);
}
